<form class="container" [formGroup]="editFromGroup" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
        <mat-card-header>
          <h2>Edit todo!</h2>
        </mat-card-header>
        <img mat-card-image class="card-image" src="{{todoImage}}">
        <mat-card-content>

            <mat-form-field style="width: 100%">
                <mat-label>Todo</mat-label>
                <input matInput formControlName="todoName">
            </mat-form-field>
            <br>

            <mat-form-field style="width: 100%">
                <mat-label>Todo type</mat-label>
                <mat-select formControlName="todoType">
                  <mat-option value="type1">Type 1</mat-option>
                  <mat-option value="type2">Type 2</mat-option>
                  <mat-option value="type3">Type 3</mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field style="width: 100%">
                <mat-label>Image query</mat-label>
                <input matInput formControlName="imageQuery">
            </mat-form-field>
            <button type="button" mat-flat-button class="btn btn-secondary" *ngIf="availableImages.length==0" (click)="onSearch()">
                Search for an image!
            </button>

            <div class="image-grid" *ngIf="availableImages.length>0">
                <img src="{{image}}" *ngFor="let image of availableImages" class="image" (click)="hasSelectedImage(image)">
            </div>

        </mat-card-content>
        <mat-card-actions *ngIf="availableImages.length===0">
          <button type="submit" mat-button class="btn btn-success">Save changes</button>
          <button type="button" (click)="onDelete()" mat-button class="btn btn-danger">Delete todo</button>
        </mat-card-actions>
      </mat-card>
</form>
