:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-form {
  align-self: center;
  width: 70vmax;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-form {
  width: inherit;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.image-grid {
  width: 405px;
}

.image {
  cursor: pointer;
  height: 133px;
  width: 133px;
  transition: all .3s;
}

.image:hover {
  transform: scale(1.06);
}

.active-image {
  height: 150px;
  width: 150px;
}
