<form class="todo-form" (ngSubmit)="onSubmit()" [formGroup]="todoFormGroup" #formDirective="ngForm" >
  <h1>Add todo!</h1>
  <mat-form-field style="width: 30%">
    <mat-label>Todo name</mat-label>
    <input matInput formControlName='name' class="todo-form-input">
  </mat-form-field>

  <mat-form-field style="width: 30%">
    <mat-label>Todo type</mat-label>
    <mat-select formControlName="type" class="todo-form-input">
      <mat-option *ngFor="let optionValue of optionValues" value="{{optionValue}}">{{optionValue}}</mat-option>
    </mat-select>
  </mat-form-field>


  <form class="image-form" formGroupName="imageFormGroup" (ngSubmit)="onSubmitImage()" *ngIf="hasNoActiveImage">
    <mat-form-field style="width: 30%">
      <mat-label>Image query</mat-label>
      <input matInput formControlName="image" class="todo-form-input">
    </mat-form-field>
    <button type="submit" mat-flat-button class="btn btn-secondary" *ngIf="availableImages.length===0">
      Search for an image!
    </button>

    <div class="image-grid" *ngIf="availableImages.length>0">
      <img src="{{image}}" *ngFor="let image of availableImages" class="image" (click)="hasSelectedImage(image)">
    </div>

  </form>
  <div *ngIf="!hasNoActiveImage" class="image-form" >
    <img src="{{activeImage}}" class="active-image">
    <button (click)="onChangeImage()" type="submit" mat-stroked-button class="btn btn-warning">
      Change image
    </button>
  </div>
  <button type="submit" mat-stroked-button class="btn btn-success form-submit" *ngIf="availableImages.length===0">
    Add todo
  </button>
</form>
<ng-content></ng-content>

